
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TDebituM</title>
    <link rel="canonical" href="ref">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>    
    <!-- Custom styles for this template -->
    <link href="../static/css/mystyle.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
 <div class="container" id="main_container">
  <main>
   
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../static/images/TDlogo.png" alt="" width="350" height="125">
        <h2>Technical Debt Interview</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque quidem ab dolorem eligendi eius, accusantium minima, molestias debitis, doloribus dolor? Aperiam beatae odit nihil totam blanditiis similique accusamus aliquam?</p>
    </div>

    <!-- main Form -->
    <div class="col-md-12 col-lg-12"> <!-- 在md(平板)显示为7格,在lg(桌面)显示8格  -->
         
      <form class="needs-validation" action="/" method="POST" novalidate>
       <!-- Person -->
        <div class="row g-3">
        <hr class="my-2">
        <h4 class="mb-0">Personal Information</h4>
        <!-- Person Number -->
        <div class="col-lg-4 ">
            <label for="input_personNumber" class="form-label">Number</label>
            <input type="number" class="form-control" id="input_personNumber" name="personNumber" placeholder="" value="" required>
            <div class="invalid-feedback">
                  Valid first number is required.
            </div>
        </div>

        <!-- Person Position -->
        <div class="col-lg-9 ">
            <label for="input_Position" class="form-label">What is your position in the company?</label>
            <input type="text" class="form-control" id="input_Position" name="personPosition" placeholder="" value="" required>
            <div class="invalid-feedback">
                  Valid Position is required.
            </div>
        </div>

        <!-- Person Disciplines -->
        <div class="col-lg-9 ">
          <div>
            <label for="select_personDiscipline" class="form-label">What is your discipline in the company?</label>
            <input class="form-control" name= "datalist" list="datalistOptions" id="select_personDiscipline" placeholder="Type to search...">
            <datalist id="datalistOptions">
              {% for p in party %}
              <option value={{p}}> 
              {% endfor %}
            </datalist></div> 
        </div>
        
        <!-- Leading Position ? -->
        <div class="col-lg-12">
            <label for="leadingPosition" class="form-label"> Leading Position? &nbsp &nbsp</label> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="leadingyes" value=true>
                <label class="form-check-label" for="inlineRadio1">yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="leadingnoo" value=false>
                <label class="form-check-label" for="inlineRadio2">no</label>
            </div> 
                      
        </div>
        
        <!-- experience -->
        <label for="select_experience" class="form-label">How long work experience in the industry / in a similar position do you bring with you?</label> <br>
        <div class="col-lg-4 my-0">
            <select class="form-select" name="experience" id="select_experience" required>          
              <option value="2-9"> 2 - 9 years</option>
              <option value="9-19"> 9 - 19 years</option>
              <option value="19+"> more than 19 years</option>
            </select>             
        </div>

        <!-- heard of TD -->
        <div class="col-lg-10 mt-4">
            <label for="heardOfTD" class="form-label"> Herad of TD ? &nbsp &nbsp &nbsp</label> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heardOfTD" id="heardOfTDyes" value=true>
                <label class="form-check-label" for="heardOfTDyes">yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heardOfTD" id="heardOfTDno" value=flase>
                <label class="form-check-label" for="heardOfTDno">no</label>
            </div>
        </div>

        <!-- TD Incident -->
        <hr class="my-2">
        
        <h4 class="mb-3">TD Incident</h4>
        <!-- TD Incident Name -->
        <div class="col-lg-9 ">
          <label for="incidentname" class="form-label">Description of the TD Incident</label>
          <input type="text" class="form-control" id="incidentname" name="TDIncident_name" placeholder="" value="" required>
          <div class="invalid-feedback">
                Valid Description is required.
          </div>
        </div>

        <!-- TD Cause -->
        <hr class="my-2">     
        <h4 class="mb-3">TD Cause</h4>        
        <div class="col-lg-9 ">
          <div>
            <label for="input_cause" class="form-label">What is the causes of the TD incident?</label>
            <input class="form-control" list="Causes" id="input_cause" placeholder="", name="Cause_Name">
            <datalist id="Causes">
              {% for p in causes %}
              <option >{{p}}</option> 
              {% endfor %}
            </datalist>
          </div> 
        </div>
        <!-- TD Subtype -->
        <div class="col-lg-9 my-2">
        <div>
            <label for="input_TDSubtype" class="form-label">Which TD Subtype does this cuase belong to?</label>
            <input class="form-control" list="SUBTYPE" id="input_TDSubtype" placeholder="",name="TDSubtyp">
            <datalist id="SUBTYPE">
              {% for p in subtypes %}
              <option >{{p}}</option> 
              {% endfor %}
            </datalist>
        </div> 
        </div>
        <!-- TD Type -->
        <div class="col-lg-9 my-2">
        <div>
            <label for="input_TDType" class="form-label">Which TD type does this cuase belong to?</label>
            <input class="form-control" list="TYPE" id="input_TDType" placeholder="",name="TDtyp">
            <datalist id="TYPE">
              {% for p in types %}
              <option >{{p}}</option> 
              {% endfor %}
            </datalist>
        </div> 
        </div> 
        <!-- initiating Disciplines -->
        <div class="col-lg-10 my-4">
          <label class="form-label">Which disciplines have initiated this cause?</label> <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartyMW" name="initiatingParty" value="Mechanic">
              <label class="form-check-label" for="initPartyMW">Mechanic</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartySW" name="initiatingParty" value="Software">
              <label class="form-check-label" for="initPartySW">Software</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartyEE" name="initiatingParty" value="Electronics">
              <label class="form-check-label" for="initPartyEE">Electronics</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartyME" name="initiatingParty" value="Management" >
              <label class="form-check-label" for="initPartyME">Management</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartySV" name="initiatingParty" value="Service" >
              <label class="form-check-label" for="initPartySV">Service</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="initPartyPC" name="initiatingParty" value="Purchasing" >
              <label class="form-check-label" for="pinitPartyPC">Purchasing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input " type="checkbox" id="initPartyOT" name="initiatingParty" value="Others" >
              <input type="text" class="form-control form-control-sm" id="otherDiscipline" placeholder="Others" value="" >   
            </div>
      </div>   
        <!-- Affected Disciplines -->
        <div class="col-lg-10 my-4">
            <label class="form-label">Which disciplines are affected by this cause affect?</label> <br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="affectedParty" id="affectecPartyMW" value="Mechanic">
                <label class="form-check-label" for="affectecPartyMW">Mechanic</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="affectecPartySW" name="affectedParty" value="Software">
                <label class="form-check-label" for="affectecPartySW">Software</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="affectecPartyEE" name="affectedParty" value="Electronics">
                <label class="form-check-label" for="affectecPartyEE">Electronics</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="affectecPartyME" name="affectedParty" value="Management" >
                <label class="form-check-label" for="affectecPartyME">Management</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="affectecPartySV" name="affectedParty" value="Service" >
                <label class="form-check-label" for="affectecPartySV">Service</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="affectecPartyPC" name="affectedParty" value="Purchasing" >
                <label class="form-check-label" for="affectecPartyPC">Purchasing</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="other" name="affectedParty" value="other" >
                <input type="text" class="form-control form-control-sm" id="otherValue" name="other" >   
              </div>
        </div>
        <!-- Submit Button -->
        <button class="w-100 btn btn-primary btn-lg" type="submit">submit</button>
                    
        </form>
    
  </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Automatisirungstechnik</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
    <!-- js 文件 -->
    <script src="../static/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/form-validation.js"></script>
    <script>src="../static/js/checkbox.js"</script>
    <script>alert()</script>
  </body>
</html>