
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style></style>
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body class="bg-light">
    <form  action="/" method="POST" >
           <!-- Person -->
      <div >
          <hr >
          <h4 >Personal Information</h4>
          <!-- Person Number -->
          <div >
              <label for="personNumber" >Number</label>
              <input type="number" name="personNumber" placeholder="" value="" required>
          </div>

          <!-- Person Position -->
          <div >
              <label for="personPosition" >What is your position in the company?</label>
              <input type="text" name="personPosition" placeholder="" value="" required>
          </div>

          <!-- Person Disciplines -->
          <div >
              <label for="personDiscipline">What is your discipline in the company?</label> <br>
              <select >
                  <option value="MW"> Mechanic</option>
                  <option value="SW"> Software</option>
                  <option value="WW"> Electronics</option>
                  <option value="SV"> Service</option>
                  <option value="ME">Management</option>
                  <option value="PC"> Purchasing</option>
                  <option value="Others"> Others</option>
              </select>  
                
          </div>
          
          <!-- Leading Position ? -->
          <div>
              <p> Leading Position? &nbsp &nbsp</p>
              <div>
                <input type="radio" id="leadingyes"
                name="leading" value="email">
                <label for="contactChoice1">yes</label>
            
                <input type="radio" id="leadingno"
                name="leading" value="phone">
                <label for="contactChoice2">no</label>
              </div>  
          </div>
          
          <!-- experience -->
          <label for="experience" >How long work experience in the industry / in a similar position do you bring with you?</label> <br>
          <div class="col-lg-4 my-0">
              <select id="experience" required>          
                <option value="2-9"> 2 - 9 years</option>
                <option value="9-19"> 9 - 19 years</option>
                <option value="19+"> more than 19 years</option>
              </select>             
          </div>

          <!-- heard of TD -->
          <div>
            <p> Heard of TD? &nbsp &nbsp</p>
            <div>
              <input type="radio" id="heardyes"
              name="heard" value="email">
              <label for="heardChoice1">yes</label>
          
              <input type="radio" id="heardno"
              name="heard" value="phone">
              <label for="heardChoice2">no</label>
            </div>   
          </div>
      </div>
          

      <!-- TD Incident -->
      <hr class="my-2">
      <h5 class="mb-3">TD Incident</h5>
      <!-- TD Incident Description -->
      <label for="incidentName" >Description</label>
      <div >
          <select id="incidentName" required>          
            <option value="lack of time"> lack of time</option>
            <option value="save cost">save cost</option>
            <option value="wrong requirement"> wrong requirement</option>
          </select>             
      </div>
      <!-- Cause -->
      <hr >
      <h5>Cause </h5>
      <!-- Cause Name -->
      <label for="causeName" >Description</label>
      <div >
        <select id="incidentName" required>          
          <option value="lack of time"> lack of time</option>
          <option value="save cost">save cost</option>
          <option value="wrong requirement"> wrong requirement</option>
        </select>             
      </div>

      <!-- TD Type -->
      <label for="tdType" >TD Type</label>
      <div >
        <select id="tdType" required>          
          <option value="requirement TD"> requirement TD</option>
          <option value="code TD">code TD</option>
          <option value="documentation TD">documentation TD</option>
        </select>             
      </div>

      <!-- TD Subype -->
      <label for="tdSubype" >TD Subype</label>
      <div >
        <select id="tdSubtype" required>          
          <option value="lack of time">lack of time</option>
          <option value="save cost">save cost</option>
          <option value="lack of knowledge">lack of knowledge</option>
        </select>             
      </div>

      <!-- affected Party -->
      <div >
        <label for="affectedParty">Which party is affected by this cause?</label> <br>
       
        <select >
            <option value="MW"> Mechanic</option>
            <option value="SW"> Software</option>
            <option value="WW"> Electronics</option>
            <option value="SV"> Service</option>
            <option value="ME">Management</option>
            <option value="PC"> Purchasing</option>
            <option value="Others"> Others</option>
        </select>  
          
    </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">submit</button>

    </form>
  </body>
</html>