{% extends 'base.html' %}
{% block form %}
<form class="needs-validation" action="/incident" methods='POST' novalidate>
<!-- TD Incident -->
 <hr class="my-2">
        
 <h4 class="mb-3">TD Incident</h4>
 <!-- TD Incident Name -->
 <div class="col-lg-9 ">
   <label for="incidentname" class="form-label">Description of the TD Incident</label>
   <input type="text" class="form-control" id="incidentname" name="TDIncident_name" placeholder="" value="" required>
   <div class="invalid-feedback">
         Valid Description is required.
   </div>
 </div>

 <!-- TD Cause -->
 <hr class="my-2">     
 <h4 class="mb-3">TD Cause</h4>        
 <div class="col-lg-9 ">
   <div>
     <label for="input_cause" class="form-label">What is the causes of the TD incident?</label>
     <input class="form-control" list="Causes" id="input_cause" placeholder="", name="Cause_Name">
     <datalist id="Causes">
       {% for p in causes %}
       <option >{{p}}</option> 
       {% endfor %}
     </datalist>
   </div> 
 </div>
 <!-- TD Subtype -->
 <div class="col-lg-9 my-2">
 <div>
     <label for="input_TDSubtype" class="form-label">Which TD Subtype does this cuase belong to?</label>
     <input class="form-control" list="SUBTYPE" id="input_TDSubtype" placeholder="",name="TDSubtyp">
     <datalist id="SUBTYPE">
       {% for p in subtypes %}
       <option >{{p}}</option> 
       {% endfor %}
     </datalist>
 </div> 
 </div>
 <!-- TD Type -->
 <div class="col-lg-9 my-2">
 <div>
     <label for="input_TDType" class="form-label">Which TD type does this cuase belong to?</label>
     <input class="form-control" list="TYPE" id="input_TDType" placeholder="",name="TDtyp">
     <datalist id="TYPE">
       {% for p in types %}
       <option >{{p}}</option> 
       {% endfor %}
     </datalist>
 </div> 
 </div> 
 <!-- initiating Disciplines -->
 <div class="col-lg-10 my-4">
   <label class="form-label">Which disciplines have initiated this cause?</label> <br>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartyMW" name="initiatingParty" value="Mechanic">
       <label class="form-check-label" for="initPartyMW">Mechanic</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartySW" name="initiatingParty" value="Software">
       <label class="form-check-label" for="initPartySW">Software</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartyEE" name="initiatingParty" value="Electronics">
       <label class="form-check-label" for="initPartyEE">Electronics</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartyME" name="initiatingParty" value="Management" >
       <label class="form-check-label" for="initPartyME">Management</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartySV" name="initiatingParty" value="Service" >
       <label class="form-check-label" for="initPartySV">Service</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input" type="checkbox" id="initPartyPC" name="initiatingParty" value="Purchasing" >
       <label class="form-check-label" for="pinitPartyPC">Purchasing</label>
     </div>
     <div class="form-check form-check-inline">
       <input class="form-check-input " type="checkbox" id="initPartyOT" name="initiatingParty" value="Others" >
       <input type="text" class="form-control form-control-sm" id="otherDiscipline" placeholder="Others" value="" >   
     </div>
</div>   
 <!-- Affected Disciplines -->
 <div class="col-lg-10 my-4">
     <label class="form-label">Which disciplines are affected by this cause affect?</label> <br>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" name="affectedParty" id="affectecPartyMW" value="Mechanic">
         <label class="form-check-label" for="affectecPartyMW">Mechanic</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="affectecPartySW" name="affectedParty" value="Software">
         <label class="form-check-label" for="affectecPartySW">Software</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="affectecPartyEE" name="affectedParty" value="Electronics">
         <label class="form-check-label" for="affectecPartyEE">Electronics</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="affectecPartyME" name="affectedParty" value="Management" >
         <label class="form-check-label" for="affectecPartyME">Management</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="affectecPartySV" name="affectedParty" value="Service" >
         <label class="form-check-label" for="affectecPartySV">Service</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="affectecPartyPC" name="affectedParty" value="Purchasing" >
         <label class="form-check-label" for="affectecPartyPC">Purchasing</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input" type="checkbox" id="other" name="affectedParty" value="other" >
         <input type="text" class="form-control form-control-sm" id="otherValue" name="other" >   
       </div>
 </div>
 <button class="w-100 btn btn-primary btn-lg" type="submit">submit</button>
</form>
 {% endblock %}